@font-face {
    font-family: "cabin";
    src: url("font/cabin.ttf");
}

*{
    font-family: cabin;
    font-weight: 100;
}

.malpa{
    font-family: verdana;
}

body{
    margin: 0;
    background-color: #bebebe;
}

.top{
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: flex-end;
}

.top h1{
    text-align: right;
    margin: 0;
}

.main{
    padding: 20px;
}

.main .portfolio .lista{
    display: flex;
    align-items: center;
}

.main .portfolio .lista a{
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.main .portfolio .lista a .element{
    display: inline-block;
    text-align: center;
}

@keyframes color{
    from {background-color: none;}
    to {background-color: #a1a1a1;;}
}

.main .portfolio .lista a .element:hover{
    animation-name: color;
    animation-duration: 0.5s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

.main .portfolio .lista a .element img{
    width: 300px;
}

.main .kontakt ul{
    font-size: 20px;
}

.main .kontakt ul li{
    margin: 0px 0px 10px 0px;
}

.main .linki a{
    font-size: 20px;
}

.main .linki ul li{
    margin: 0px 0px 10px 0px;
}

.main .linki ul li a{
    color: black;
}

.footer{
    background-color: black;
    color: white;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    position: fixed;
    width: calc(100% - 20px);
    left: 0;
    bottom: 0;
}
.footer h4{
    margin: 0;
}
